<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Demo Project</h3>
        <p class="footer-company-name">Demo Project &copy; 2020</p>
    </div>
    <div class="footer-center">
    	<div class="footer-company-details">
    		<span>Contact Details</span>
        </div>
        <div>
            <p><span>#32/A 6th Cross Brigade Road</span> Bangalore, India</p>
        </div>
        <div>
            <p><span>+91 9876543210</span></p>
        </div>
        <div>
            <p><a href="mailto:contact@projectdemo.com">contact@projectdemo.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About Us</span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
</footer>
<link rel="stylesheet" type="text/css" href="/src/mainApp/dashboard.component/footer.component/footer.component.css">