<div class="row main-page-container">
    <div class="col-md-2">
        Hi Username!!
    </div>
    <div class="col-md-8 middle-container_div">
        <div class="row middle-sub-container_div">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 post-container_div">
                        <textarea placeholder="Write a post" class="post_txtarea"></textarea>
                        <button class="post_btn btn btn-danger">POST</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row middle-sub-container_div">
            <div class="col-md-12">
                <div class="row channel-posts_div">
                    <div class="col-md-12 post-container_div">
                        <channel-post-component></channel-post-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        Channel Name
    </div>
</div>
<link rel="stylesheet" href="/src/mainApp/dashboard.component/main-page.component/main-page-body.component/main-page-body.component.css">