<nav>
    <ul class="slide-left__unorderd_list" id="headerDropdoenClick">
        <li><a class="header-nav_div" ng-click="$ctrl.navigateTo('home')">Home</a></li>
        <li><a class="header-nav_div" ng-click="$ctrl.navigateTo('dashboard')">Dashboard</a></li>
        <li class="slide-right__list"><a href="#signout">Sign out</a></li>
        <li class="dropdown_icon"><a href="javascript:void(0);" ng-click="$ctrl.renderDropDownMenu()">&#9776;</a></li>
    </ul>
</nav>
<link rel="stylesheet" type="text/css" href="/src/mainApp/dashboard.component/header.component/header.component.css">